.tweet {
     border: 5px solid #0f057c;
     border-radius: 5px;
     margin: 20px 20%;
     padding: 20px;
     background-color: #ffffff;
}

.username {
     color: #ff0000;
}

.date {
     color: #5fa6f7;
     display: inline-block;
     margin: 0 10px;
}